.body-cont {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background: #000; */
}

.body-cont input[type="search"] {
    width: 90%;
    outline: none;
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;

}

.cont-search{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 85vh;
    /* flex-direction: column; */
}

.input {
    width: 500px;
    background: #4f126b;
    padding: 2px;
    padding-left: 10px;
    display: flex;
    margin-top: 200px;
   
}

.icons{
  display: flex;
  height: inherit;
  align-items: center;
  width: 20%;
  justify-content: center;
}

.plus{
    position: absolute;
    top: 10px;
    right: 10px;
}

.results-list{
    width:90%;
    overflow: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 100px;
    padding-left: 10px;
     

}

.results-list>div:hover{
 background: #b3b1b1;
}


@media screen and (max-width:710px) {

    .input{
        width: 80%;
    }

}